// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #2192FF;
$light-blue: #95CBFF;
$yellow: #FDFF00;
$green: #38E54D;
$sand: #FFFCDF;
$light-gray: #F4F4F4;
$black: black;
$gray: #9F9D9D;
$white: white;
