.photos-property {
  height: auto;
}

.col1 img {
  height: auto;
  width: 100%;
  object-fit: contain;
}

.col2 img {
  height: 50%;
  width: 100%;
  object-fit: contain;
}

.col3 img {
  height: 50%;
  width: 100%;
  object-fit: contain;
}

.reservation-button {
 width: 110px;
 height: 48px;
}
