<div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1">
        <h1>Edit a property: <br><strong><%= @property.name %></strong></h1>
        <hr>
        <%= render "form", property: @property %>
    </div>
    <%= link_to properties_path do %>
    <i class="fa-solid fa-arrow-rotate-left mb-3"> Back to Home</i>
    <% end %>
</div>